@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
};

@theme {
  --text-2xs: 0.625rem;
}

@layer base {

  main {
    @apply bg-base-300 h-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-base-content;
  }

  div {
    @apply text-base-content;
  }

  p {
    @apply text-base-content;
  }

  a {
    @apply text-info-content;
  }

};

.rdp-root {
  --rdp-accent-color: indigo; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  /* Add more CSS variables here. */
}
